@keyframes timeline{
		100%{
		transform:rotate(360deg);	
		}

	}

	body{
		background-color: black;
	}
.solar{
	width: 100px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	top: 280px;
	left: 300px;
	border-radius: 100%;
	box-shadow:0 0 42px 0 yellow;
}
.border{
	width: 700px;
	height: 700px;
	border:1px solid black;
	border-radius: 100%;
	animation:timeline 20s infinite linear;
}
.earth{
	width: 20px;
	height: 20px;
	background-color: aqua;
	position: absolute;
	top: 150px;
	left: 450px;
	border-radius: 100%;
	animation:timeline 5s infinite linear;	
}
.moon{
	width: 10px;
	height: 10px;
	top: 30px;
	background-color: brown;
	position: absolute;
	border-radius: 100%;
}
/*.eqrebSaat{
	position: relative;
	margin: 0 auto;
	width: 15px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: -340px;
	height: 120px;
	background-color: lightblue;
	opacity: 0.9;

}
.eqrebSan{
	position: relative;
	margin: 0 auto;
	width: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-top:-60px;
	height: 250px;
	background-color: lightblue;
}
.main{
	margin: 0 auto;
	width: 500px;
	height: 500px;
	border-radius: 100%;
	border:30px solid lightblue;
	background-color: black;
	box-sizing: border-box;
}

.merkez{
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: 200px auto;
	background-color: #59DFFF;
	z-index: 2;
}
.merkez:nth-child(2){
	margin-top: -230px;
}
.eqrebDeq{
	transform: rotate(90deg);
	position: absolute;
	margin: 0 auto;
	height: 200px;
	background-color: lightblue;
	width: 15px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: -315px;
	margin-left: 300px;
	opacity: 0.9;
}
*/